@import "components/destyle";

body {
	background-color: #000;
}

.github {
	display: inline-block;
    width: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    img {
    	width: 100%;
    }
}

.turn {
	position: absolute;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    left: 20px;
    top: 20px;
    cursor: pointer;
    transition: box-shadow .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
    &.active {
    	background-color: #fff;
    	color: #000;
		box-shadow: 5px 5px 15px 0px white;
    }
}

.game {
	&__container {
		background-color: #fff;
		width: 1000px;
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		.app {
		    display: flex;
    		flex-wrap: wrap;
    		background: #000;
    		transition: background .3s ease-in-out;
    		&.active {
    			background: #fff;
    		}
		}
		.item {
		    flex: 0 0 10%;
		    max-width: 10%;
		    height: 100px;
		    align-items: center;
		    text-align: center;
		    vertical-align: middle;
		    padding: 40px 0px;
		    max-height: 100px;
		    position: relative;
			&.block {
				background: #000;
			}
		}
	}
	.ball {
		position: absolute;
	    width: 100px;
	    height: 100px;
	    left: 0;
		top: 0;
		transition: left .3s ease-in-out, top .3s ease-in-out;
		&.active {
			&:after {
				opacity: 0;
			}
		}
		&:before {
			content: '';
			position: absolute;
		    width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    background: #ff0000;
		    left: calc(50% - (50px / 2));
			top: calc(50% - (50px / 2));
			z-index: 1;
		}
		&:after {
			content: '';
		    position: absolute;
		    width: 300px;
		    height: 300px;
		    border-radius: 50%;
		    left: calc(50% - (300px / 2));
		    top: calc(50% - (300px / 2));
		    background: radial-gradient(circle, rgba(255,255,255,1) 40%, rgba(0,0,0,0.8) 70%);
		    transition: opacity .3s ease-in-out;
		    opacity: 1;
		}
	}
}